.selectDiv {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.riarrowDropDownLineIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.textfieldsDiv {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--light-1006);
  border: 1px solid var(--light-3006);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--title-161-size);
  color: var(--light-6002);
  font-family: var(--title-161);
}
