.explicitSensitiveContent {
  position: relative;
  font-size: var(--title-161-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--title-161);
  color: var(--light-10001);
  text-align: left;
  display: inline-block;
}
