.frameDiv {
  width: 397px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--title-161-size);
  color: var(--light-6002);
  font-family: var(--title-161);
}
