.selectDiv {
  border-radius: var(--br-lg);
  border: 2px solid var(--light-2004);
  box-sizing: border-box;
  width: 244px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: center;
  font-size: var(--title-145-size);
  color: var(--light-6002);
  font-family: var(--title-161);
}
