.textfieldsInput {
  border: 1px solid var(--light-3006);
  background-color: var(--light-1006);
  align-self: stretch;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 102px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
}
